<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerSingleUser.Properties.Settings.AracTakipConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=AracTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerSingleUser.Properties.Settings.CarTrackConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=CarTrack;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerSingleUser.Properties.Settings.CarTrackConnectionString1"
            connectionString="Data Source=LocalHost;Initial Catalog=CarTrack;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerSingleUser.Properties.Settings.TakipConnectionString"
            connectionString="Data Source=COSKUN-PC;Initial Catalog=Takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerSingleUser.Properties.Settings.TakipConnectionString1"
            connectionString="Data Source=COSKUN-PC;Initial Catalog=Takip;Persist Security Info=True;User ID=coskunkazma"
            providerName="System.Data.SqlClient" />
        <add name="ServerSingleUser.Properties.Settings.TakipConnectionString2"
            connectionString="Data Source=COSKUN-PC;Initial Catalog=Takip;Persist Security Info=True;User ID=coskunkazma;Password=kartal25"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>